# NordVPN
COUNTRY=United States
CATEGORY=Standard VPN servers
RANDOM_TOP=10
OPENVPN_OPTS=--pull-filter ignore "ping-restart" --ping-exit 180
#RECREATE_VPN_CRON=
NETWORK=192.168.0.0/24
TZ=America/Vancouver
CHROME_RDP_PORT=3000
PROXY_PORT=3001
ECHO_PORT=8080
TEST_URL=https://1.1.1.1/

# CHROME
MAX_CPU_PERCENT=200
MAX_MEMORY_PERCENT=120
CHROME_REFRESH_TIME=60000 # 10 minutes
CONNECTION_TIMEOUT=600000
QUEUE_LENGTH=0
PREBOOT_CHROME=true
KEEP_ALIVE=false
WORKSPACE_DELETE_EXPIRED=true
WORKSPACE_EXPIRE_DAYS=10
EXIT_ON_HEALTH_FAILURE=true
DEBUG=browserless*
# Trick to not rimraf the data dir and not save data
DEFAULT_LAUNCH_ARGS=[ "--user-data-dir=/tmp/chrome" ]