# NordVPN
COUNTRIES=Singapore,Mexico
CATEGORY=Standard VPN servers
NETWORK=192.168.0.0/24
TZ=America/New_York
CHROME_RDP_PORT=3000
PROXY_PORT=3001
ECHO_PORT=8080
TEST_URL=https://1.1.1.1/
FALL=10
RISE=2
MAX_ALLOWED_USED_VPNS=500
PACKETS_LIMIT_PER_VPN=

# CHROME
MAX_CPU_PERCENT=90
MAX_MEMORY_PERCENT=90
CHROME_REFRESH_TIME=60000 # 10 minutes
CONNECTION_TIMEOUT=600000
PREBOOT_CHROME=false
KEEP_ALIVE=false
WORKSPACE_DELETE_EXPIRED=true
WORKSPACE_EXPIRE_DAYS=10
EXIT_ON_HEALTH_FAILURE=true
DEBUG=browserless*
# Trick to not rimraf the data dir and not save data
DEFAULT_LAUNCH_ARGS=[ "--user-data-dir=/tmp/chrome" ]
AXIOS_CACHE_DEBUG=false